# ── Application ──────────────────────────────────────────
APP_URL=http://localhost:8000
APP_ENV=development
APP_BASE_PATH=

# ── Base de données ─────────────────────────────────────
DB_HOST=127.0.0.1
DB_NAME=emedia_support
DB_USER=root
DB_PASS=fabio

# ── Mail (SMTP) ─────────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=paulingoudo@gmail.com
MAIL_PASSWORD=oulk ckec tkyr hkzi
MAIL_FROM=paulingoudo@gmail.com
MAIL_FROM_NAME=e-Media Support
MAIL_VERIFY_PEER=1
